/* NAVBAR */
@keyframes showNavbar {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0);
    }
}
/* END OF NAVBAR */


/* MESSAGE */
@keyframes messageAnimation {
    to {
        transform: translateX(0);
    }
}
/* END OF MESSAGE */