@media (min-width: 300px) {

    /* NAVBAR */
    .navbar {
        padding: 1rem .5rem;
    }

    .navbar-light .navbar-toggler {
        border: 0;
        padding: 0;
    }

    .navbar .logo-whatsApp {
        display: none;
    }

    /* END OF NAVBAR */


    /* HEADER */
    #header {
        margin-top: 2.5rem;
    }

    #header .container .row .col-lg-4 img {
        margin-top: -2.5rem !important;
    }

    /* END OFHEADER */


    /* CONTENT */

    #contents {
        margin-top: 2.5rem;
    }

    #contents .container .row .bussiness {
        background-color: #D8E8EA;
        height: 55rem;
        padding: 2.5rem 1.2rem;
        border-radius: 0;
        overflow: hidden;
    }

    #contents .container .row .security {
        padding: 2.5rem 0 !important;
    }

    #contents .container .row .security .circle {
        width: 15rem;
        height: 15rem;
        margin-top: 0 !important;
    }

    #contents .container .row .security .security-paragraph {
        padding: 0 1.2rem !important;
    }

    /* END OF CONTENT */


    /* FOOTERS */
    #footers .container .row .col-md-2 {
        text-align: center;
    }

    #footers .container .row .col-md-2 .companny,
    #footers .container .row .col-md-2 .download,
    #footers .container .row .col-md-2 .help {
        margin-top: 2.5rem;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers a,
    #footers .container .row .col-md-2 .links-companny-footers a,
    #footers .container .row .col-md-2 .links-download-footers a,
    #footers .container .row .col-md-2 .links-help-footers a {
        width: 100%;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers,
    #footers .container .row .col-md-2 .links-companny-footers,
    #footers .container .row .col-md-2 .links-download-footers,
    #footers .container .row .col-md-2 .links-help-footers {
        margin-top: 1.5rem !important;
    }

    /* END OF FOOTERS */


    /* COPYRIGHT */
    #copyright {
        text-align: center;
    }

    /* END OF COPYRIGHT */


    /* MESSAGE */
    #message .container .message-from-me {
        margin: 0 .5rem;
        right: 0;
        border-right: 5px solid #1CB39B;
    }

    #message .container .message-from-me .photo {
        width: 4rem;
    }

    #message .container .message-from-me .text {
        padding: 0 !important;
        width: 100%;
    }

    #message .container .message-from-me .text p {
        font-size: .8rem !important;
    }

    #message .container .message-from-me .text h6 {
        font-size: .9rem;
    }

    #message .container .message-from-me .close {
        margin-top: -.3rem !important;
    }

    /* END OF MESSAGE */

}


@media (min-width: 400px) {

    /* MESSAGE */
    #message .container .message-from-me {
        margin-right: 1rem;
    }

    #message .container .message-from-me .text h6 {
        font-size: 1rem !important;
    }

    /* END OF MESSAGE */
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    /* CONTENT */
    #contents .container .row .bussiness {
        background-color: #D8E8EA;
        height: 55rem;
        padding: 2.5rem;
        border-radius: 24px;
        overflow: hidden;
    }


    #contents .container .row .security .circle {
        transform: scale(1.1);
    }


    #contents .container .row .security {
        padding: 2.5rem 0 !important;
        border-radius: 24px;
    }

    #contents .container .row .security .security-paragraph {
        padding: 0 2rem !important;
    }

    /* AKHIR CONTENT */

}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* HEADERS */
    #header .container .row .col-lg-4 img {
        transform: scale(.9) !important;
    }

    /* END HEADERS */


    /* CONTENT */

    #contents {
        margin-top: 0rem !important;
    }

    #contents .container .row .security .security-paragraph {
        padding: 0 3.5rem !important;
    }

    /* AKHIR CONTENT */


    /* FOOTERS */
    #footers .container .row {
        justify-content: space-between !important;
    }

    #footers .container .row .col-md-2 {
        text-align: left;
    }

    #footers .container .row .col-md-2 .companny,
    #footers .container .row .col-md-2 .download,
    #footers .container .row .col-md-2 .help {
        margin-top: 0rem;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers a,
    #footers .container .row .col-md-2 .links-download-footers a,
    #footers .container .row .col-md-2 .links-help-footers a {
        width: 7rem;
    }

    #footers .container .row .col-md-2 .links-companny-footers a {
        width: 9rem;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers,
    #footers .container .row .col-md-2 .links-companny-footers,
    #footers .container .row .col-md-2 .links-download-footers,
    #footers .container .row .col-md-2 .links-help-footers {
        margin-top: 2rem !important;
    }

    /* END OF FOOTERS */


    /* COPYRIGHT */
    #copyright .container .row .col-md-4 p {
        margin-top: 0rem !important;
        padding: .7rem 0;
    }

    /* END COPYRIGHT */
}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* NAVBAR */
    .navbar .navbar-brand {
        display: none;
    }

    .navbar .logo-whatsApp {
        display: block;
    }

    /* END OF NAVBAR */

    /* HEADER */
    #header {
        margin-top: 5rem;
        padding: 0;
    }

    #header .container .row .col-lg-4 img {
        margin-top: 3.2rem !important;
        transform: scale(1.3) !important;
    }

    /* END OFHEADER */

    /* CONTENTS */

    #contents .container .row {
        margin-top: 5.7rem;
    }

    #contents .container .row .bussiness {
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 48%;
        transition: .5s;
    }

    #contents .container .row .bussiness:hover {
        transform: translateY(-3rem);
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    }

    #contents .container .row .bussiness p {
        font-size: 18px;
    }

    #contents .container .row .security {
        background-color: #E7F0E4;
        border-radius: 24px;
        width: 48%;
        margin-top: 0;
        transition: .5s;
    }

    #contents .container .row .security .security-paragraph {
        padding: 0 2.5rem !important;
    }


    #contents .container .row .security:hover {
        transform: translateY(-3rem);
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    }

    #contents .container .row .security .circle {
        margin-top: 2.5rem !important;
    }

    /* END OF CONTENTS */


    /* FOOTERS */
    #footers .container .row {
        justify-content: space-between !important;
    }

    #footers .container .row .col-md-2 {
        text-align: left;
    }

    #footers .container .row .col-md-2 .companny,
    #footers .container .row .col-md-2 .download,
    #footers .container .row .col-md-2 .help {
        margin-top: 0rem;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers a,
    #footers .container .row .col-md-2 .links-download-footers a,
    #footers .container .row .col-md-2 .links-help-footers a {
        width: 7rem;
    }

    #footers .container .row .col-md-2 .links-companny-footers a {
        width: 9rem;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers,
    #footers .container .row .col-md-2 .links-companny-footers,
    #footers .container .row .col-md-2 .links-download-footers,
    #footers .container .row .col-md-2 .links-help-footers {
        margin-top: 2rem !important;
    }

    #footers .container .row .col-md-2 .links-whatsapp-footers a:hover,
    #footers .container .row .col-md-2 .links-companny-footers a:hover,
    #footers .container .row .col-md-2 .links-download-footers a:hover,
    #footers .container .row .col-md-2 .links-help-footers a:hover {
        color: #1CB39B !important;
        transform: translateX(2rem);
    }

    /* END OF FOOTERS */


    /* COPYRIGHT */
    #copyright {
        text-align: center;
    }

    /* END OF COPYRIGHT */


    /* MESSAGE */

    #message .container .message-from-me .text h6 {
        font-size: 1rem !important;
    }

    /* END OF MESSAGE */

}


@media (min-width: 1000px) {

    /* HEADER */
    #header {
        margin-top: 5rem;
        padding: 0;
    }

    #header .container .row .col-lg-4 img {
        transform: scale(1.5) !important;
    }

    /* END OFHEADER */

    
    /* CONTENT */
    #contents {
        margin-top: 5.7rem !important;
    }

    /* AKHIR CONTENT */
}


/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* NAVBAR */
    .navbar .navbar-brand {
        display: block;
    }

    .navbar .logo-whatsApp {
        display: none;
    }

    /* END OF NAVBAR */

    /* HEADER */
    #header {
        margin-top: 2.5rem;
        padding: 0;
    }

    #header .container .row .col-lg-4 img {
        transform: scale(1.2) !important;
    }

    /* END OFHEADER */

    /* CONTENT */
    #contents {
        margin-top: 3.1rem !important;
    }

    #contents .container .row .security .circle {
        transform: scale(1.2);
    }

    /* AKHIR CONTENT */


    /* FOOTERS */
    #footers .container .row {
        justify-content: space-evenly !important;
    }

    /* END OF FOOTERS */

    /* COPYRIGHT */
    #copyright .container .row .col-md-4 p {
        margin-top: .2rem !important;
        padding: .7rem 0;
    }

    /* END COPYRIGHT */
}


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* CONTENT */

    #contents .container .row .security .circle {
        transform: scale(1.3);
    }


    #contents .container .row .security {
        padding: 5rem 2rem !important;
    }

    #contents .container .row .security .end {
        margin-top: 6rem;
    }

    /* AKHIR CONTENT */


    /* FOOTERS */
    #footers .container .row {
        justify-content: center !important;
    }

    /* END OF FOOTERS */
}