body {
    font-family: roboto, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #128C7E;
    height: 91px;
}

.navbar .navbar-brand {
    color: #fff;
    margin-right: 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.8rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 34px 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    display: block;
    position: relative;
    top: .5rem;
    margin: auto;
    transition: .3s;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 50%;
}

.navbar .container .collapse .leanguage a {
    color: #fff;
}

.navbar.animation-navbar {
    animation: showNavbar 1s forwards;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}

/* END OF NAVBAR */


/* HEADER */

#header .container .row {
    margin: auto;
    gap: 5rem;
}

#header .container .android,
#header .container .iphone {
    width: 8rem;
}

#header .container .mac-windows-pc {
    width: 15rem;
}

#header .container .android a,
#header .container .iphone a,
#header .container .mac-windows-pc a {
    color: #1CB39B;
    display: block;
    transition: .5s;
}

#header .container .android:hover a,
#header .container .iphone:hover a,
#header .container .mac-windows-pc:hover a {
    transform: translateX(2rem);
}

#header .container .android a:hover,
#header .container .iphone a:hover,
#header .container .mac-windows-pc a:hover {
    color: #128C7E;
}

#header .container .row .col-md-4 .data-charges {
    color: #5E6382;
}

/* END OF HEADER */


/* CONTENTS */

#contents {
    margin-top: 5.2rem;
}

#contents .container .row .bussiness {
    background-color: #D8E8EA;
    height: 55rem;
    padding: 5rem;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
}

#contents .container .row .bussiness p {
    font-size: 18px;
}

#contents .container .row .security {
    background-color: #E7F0E4;
    border-radius: 0;
    width: 100%;
    margin-top: 2.5rem;
}

#contents .container .row .security .circle {
    width: 23rem;
    height: 23rem;
    background-color: #77D7C8;
    border-radius: 50%;
}

#contents .container .row .security p {
    letter-spacing: .2rem;
    color: #5E5E5E;
    margin-top: 65px;
}

#contents .container .row .security .security-paragraph {
    letter-spacing: 0;
    margin-top: 2rem;
    font-size: 18px!important;
    padding: 0 !important;
}

/* END OF CONTENTS */


/* EXPLORE FEATURES */
#explore {
    margin-top: 2.5rem;
}

#explore .container .button-explore .btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 1px solid #77D7C8;
    color: #128C7E;
    transition: .3s;
}

#explore .container .button-explore .btn:hover {
    background-color: #77D7C8;
    color: #fff;
}

/* END OF EXPLORE FEATURES 


/* FOOTERS */
#footers {
    background-color: #273443;
    margin-top: 5rem;
    padding: 3rem;
}

#footers .container .row .col-md-2 h5 {
    letter-spacing: .2rem;
} 

#footers .container .row .col-md-2 .links-whatsapp-footers a,
#footers .container .row .col-md-2 .links-download-footers a,
#footers .container .row .col-md-2 .links-help-footers a {
    transition: .5s;
    width: 7rem;
}

#footers .container .row .col-md-2 .links-companny-footers a {
    transition: .5s;
    width: 9rem;
}

#footers .container .row .col-md-2 .links-whatsapp-footers a:active,
#footers .container .row .col-md-2 .links-companny-footers a:active,
#footers .container .row .col-md-2 .links-download-footers a:active,
#footers .container .row .col-md-2 .links-help-footers a:active {
    color: #1CB39B !important ;
}
/* END OF FOOTERS */


/* COPYRIGHT */
#copyright {
    background-color: #1C1E21;
}

/* END OF COPYRIGHT */


/* MESSAGE */

#message .container .message-from-me {
    background-color: #fff;
    height: 5.3rem;
    border-radius: 10px;
    position: fixed;
    top: 42rem;
    right: 2rem;
    z-index: 1;
    border: 1px solid rgb(240, 240, 240);
    border-right: 5px solid #1CB39B;
    transform: translateX(25rem);
}

#message .container .message-from-me .close {
    cursor: pointer;
}

#message .container .message-from-me .close .fas {
    transition: .5s;
}

#message .container .message-from-me .close .fas:hover {
    transform: rotate(360deg)
}

#message .container .message-from-me.message-animation {
    animation: messageAnimation 1s cubic-bezier(0, 0, 0, 0.99) forwards;
}

#message .container .message-from-me .photo {
    width: 3rem;
    height: 3rem;
    background-color: #128C7E;
    border-radius: 50%;
}

/* END OF MESSAGE */