body {
    font-family: roboto, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #128C7E;
    height: 91px;
}

.navbar .navbar-brand {
    color: #fff;
    margin-right: 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.8rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 34px 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    display: block;
    position: relative;
    top: .5rem;
    margin: auto;
    transition: .3s;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 50%;
}

.navbar .container .collapse .leanguage a {
    color: #fff;
}

.navbar.animation-navbar {
    animation: showNavbar 1s forwards;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}

@keyframes showNavbar {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0);
    }
}

/* END OF NAVBAR */


/* CONTENTS */
#contents .container .row .col-lg-6 .phone,
#contents .container .row .col-lg-6 .mac-or-windows-pc {
    background-color: #E7F0E4;
    border-radius: 24px;
    margin-top: 1.5rem;
    padding: 80px;
}

#contents .container .row .col-lg-6 .phone .phone-title,
#contents .container .row .col-lg-6 .mac-or-windows-pc .pc-title {
    letter-spacing: .1rem;
}

#contents .container .row .col-lg-6 .phone .button-android .btn,
#contents .container .row .col-lg-6 .phone .button-iphone .btn,
#contents .container .row .col-lg-6 .mac-or-windows-pc .button-windows .btn {
    padding: .7rem 1.8rem;
    background-color: #128C7E;
    border: 0;
}


#contents .container .row .col-lg-6 .phone .installing,
#contents .container .row .col-lg-6 .mac-or-windows-pc .windows-8-higher,
#contents .container .row .col-lg-6 .mac-or-windows-pc .by-clicking {
    color: #5E699A;
}

#contents .container .row .col-lg-6 .mac-or-windows-pc {
    background-color: #FCF2C6;
}

#contents .container .row .col-lg-6 .mac-or-windows-pc .laptop-image img {
    transform: scale(.8);
}

/* END OF CONTENTS */


/* FOOTERS */
#footers {
    background-color: #273443;
    margin-top: 1.5rem;
    padding: 3rem;
}

#footers .container .row .col-md-2 h5 {
    letter-spacing: .2rem;
}

#footers .container .row .col-md-2 .links-whatsapp-footers a,
#footers .container .row .col-md-2 .links-download-footers a,
#footers .container .row .col-md-2 .links-help-footers a {
    transition: .5s;
    width: 7rem;
}

#footers .container .row .col-md-2 .links-companny-footers a {
    transition: .5s;
    width: 9rem;
}

#footers .container .row .col-md-2 .links-whatsapp-footers a:active,
#footers .container .row .col-md-2 .links-companny-footers a:active,
#footers .container .row .col-md-2 .links-download-footers a:active,
#footers .container .row .col-md-2 .links-help-footers a:active {
    color: #1CB39B !important;
}

/* END OF FOOTERS */


/* COPYRIGHT */
#copyright {
    background-color: #1C1E21;
}

/* END OF COPYRIGHT */


/* MESSAGE */
#message .container .message-from-me {
    background-color: #fff;
    height: 5.3rem;
    border-radius: 10px;
    position: fixed;
    top: 42rem;
    right: 2rem;
    z-index: 1;
    border: 1px solid rgb(240, 240, 240);
    border-right: 5px solid #1CB39B;
    transform: translateX(25rem);
}

#message .container .message-from-me .close {
    cursor: pointer;
}

#message .container .message-from-me .close .fas {
    transition: .5s;
}

#message .container .message-from-me .close .fas:hover {
    transform: rotate(360deg)
}

#message .container .message-from-me.message-animation {
    animation: messageAnimation 1s cubic-bezier(0, 0, 0, 0.99) forwards;
}

#message .container .message-from-me .photo {
    width: 3rem;
    height: 3rem;
    background-color: #128C7E;
    border-radius: 50%;
}

@keyframes messageAnimation {
    to {
        transform: translateX(0);
    }
}

/* END OF MESSAGE */